ecollava_train_videos/
ecollava_val_videos/

qwenvl/run_qwen_vl_no_sensors.py
qwenvl/run_qwen_vl_with_sensors.py
qwenvl/chatgpt_eval_data/
qwenvl/chatgpt_train_data/
qwenvl/gemini_eval_data/
qwenvl/gemini_train_data/